# Telegram
# ====================================================================
TG_API_ID=123456
TG_API_HASH=0123456789abcdef0123456789abcdef
# --------------------------------------------------------------------
TG_PHONE=+491234567890
# Опционально (можно не указывать, Telethon спросит на первом запуске)
# --------------------------------------------------------------------
TG_SESSION=pdfnik_sender
# Имя файла сессии (создастся рядом)
# ====================================================================
TG_OUTPUT_DIR=output
